<!--The content below is only a placeholder and can be replaced.-->

<main role="main">


    <div class="container">
        <carousel>
            <slide>
                <img src="assets/img/7.jpg" alt="First slide" style="display: block; width: 100%;">
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/img/8.jpg" alt="Second slide" style="display: block; width: 100%;">
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/img/2.jpg" alt="Third slide" style="display: block; width: 100%;">
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide>
        </carousel>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
        </div>

        <hr>

    </div>
    <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Company 2017</p>
</footer>
